language: node_js

node_js:
    - "node"
    - "11"
    - "10"

sudo: false

git:
    submodules: false

addons:
  chrome: stable

before_script:
    - npm install

script:
    - npm start & npm run test
