@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&family=Anton&family=Bebas+Neue&&family=Poppins:wght@200;300;500;700&family=Varela+Round&display=swap");
/* GENERAL STYLING */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #24252a;
          box-shadow: inset 0 0 6px #24252a;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #24252a;
}

/* TOPNAV */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20%;
  background-color: #24252a;
}

header nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header nav .nav-links {
  list-style: none;
}

header nav .nav-links .nav-link-item {
  font-family: 'Varela round';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .nav-links #topnav-dropdown {
  position: relative;
  display: inline-block;
}

header nav .nav-links #topnav-dropdown .dropdown-links {
  display: none;
  position: absolute;
  background-color: #383838;
  z-index: 1;
}

header nav .nav-links #topnav-dropdown .dropdown-links li {
  padding: 10px;
}

header nav .nav-links #topnav-dropdown .dropdown-links li a {
  font-family: 'Varela round';
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

header nav .nav-links #topnav-dropdown .dropdown-links li a:hover {
  color: #ffff00;
  padding-left: 5px;
}

header nav .nav-links #topnav-dropdown .arrow {
  border: solid #fcfc57;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 3px 8px;
}

header nav .nav-links #topnav-dropdown .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

header nav .nav-links #topnav-dropdown:hover .dropdown-links {
  display: block;
}

header nav .nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

header nav .nav-links li:nth-child(1) {
  padding: 0 20px;
}

header nav .nav-links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fcfc57;
}

header nav .nav-links li a:hover {
  font-style: bold;
}

header nav #activeUser {
  font-family: 'Varela round';
  color: #51ff4b;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

header li,
header a {
  text-decoration: none;
}

header .logo {
  font-family: "Montserrat", sans-serif;
  color: #ffff00;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

/* HOMEPAGE */
.homepage-wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homepage-wrapper .homepage-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 620px;
  -ms-grid-rows: 10% 30% 30% 20%;
      grid-template-rows: 10% 30% 30% 20%;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 5 / 6;
}

.homepage-wrapper .homepage-container .homepage-text-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2 / 2 / 4 / 5;
  background: #af8763;
  padding: 25px;
}

.homepage-wrapper .homepage-container .homepage-text-container p {
  display: inline-block;
  max-width: 55%;
}

.homepage-wrapper .homepage-container .homepage-text-container img {
  display: inline-block;
  max-width: 40%;
  float: right;
}

.homepage-wrapper h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  grid-area: 1 / 3 / 2 / 3;
}

.homepage-wrapper h1,
.homepage-wrapper h2 {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
  text-align: center;
}

.homepage-wrapper p {
  font-family: 'Poppins';
  font-size: 14px;
}

/* MAIN CONTENT */
.page-wrapper {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.page-wrapper .page-container {
  max-width: 720px;
  margin: auto;
}

.page-wrapper .page-container .page-text-container {
  background: #af8763;
  padding: 25px;
  font-family: 'Poppins';
  font-size: 14px;
}

.page-wrapper h1 {
  text-align: center;
}

.page-wrapper h1,
.page-wrapper h2 {
  font-family: 'Bebas Neue';
  text-transform: uppercase;
}

.page-wrapper p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #cccccc;
  font-style: italic;
  padding: 5px;
  font-family: monospace;
}

/* LOGIN FORM */
.login {
  max-width: 300px !important;
}

.login-form-button {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
}

.login-form-button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, var(--primary-color), transparent);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.login-form-input {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
}

.login-form-input input {
  color: #333333;
  font-family: 'Varela round';
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
  color: white;
  background: #24252a;
  border-radius: 10px;
  -webkit-box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
          box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109), 0 1px 1px rgba(128, 128, 128, 0.155), 0 2.1px 2.1px rgba(128, 128, 128, 0.195), 0 4.4px 4.4px rgba(128, 128, 128, 0.241), 0 12px 12px rgba(128, 128, 128, 0.35);
}

.login-form h1 {
  margin: 0 0 24px 0;
  color: #ffff00;
  font-family: "Montserrat", sans-serif;
}

.login-form p {
  background-color: transparent;
  font-family: 'Varela round';
  font-size: 14px;
  font-style: none;
}

.login-form a {
  background-color: transparent;
  font-family: 'Varela round';
  font-size: 14px;
  font-style: none;
  text-decoration: none;
  color: #ffff00;
}

.login-form .login-form-input {
  margin: 12px 0;
  font-family: 'Varela round';
  font-size: 12px;
}

.login-form .login-form-button {
  width: 100%;
  margin: 18px 0 9px 0;
  font-family: 'Varela round';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.login-form .login-form-button:hover {
  border: 2px solid #ffff00;
}

/* WRITE FORM */
.write-form-input {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
}

.write-form-input input {
  color: #333333;
  font-family: 'Varela round';
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
}

.write-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 40px;
  color: white;
  background: #24252a;
}

.write-form h1 {
  margin: 0 0 24px 0;
  color: #ffff00;
  font-family: "Montserrat", sans-serif;
}

.write-form p {
  background-color: transparent;
  font-family: 'Varela round';
  font-size: 14px;
  font-style: none;
}

.write-form a {
  background-color: transparent;
  font-family: 'Varela round';
  font-size: 14px;
  font-style: none;
  text-decoration: none;
  color: #ffff00;
}

.write-form .write-form-input {
  margin: 12px 0;
  font-family: 'Varela round';
  font-size: 12px;
}

.write-form .write-form-input textarea {
  font-family: 'Varela round';
  font-weight: bold;
  font-size: 13px;
  height: 350px;
  max-height: 350px;
  width: 700px;
  max-width: 700px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.write-form .write-form-input input[type=number] {
  width: 90px;
}

.write-form .write-form-button {
  width: 100%;
  margin: 18px 0 9px 0;
  font-family: 'Varela round';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.write-form .write-form-button:hover {
  border: 2px solid #ffff00;
}

/* REPORT CONTENT */
.report-content {
  background-color: #c4c4c4;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
}

.report-content h2 {
  text-align: center;
  margin-top: 25px;
}

.report-content p {
  background-color: transparent;
  font-family: 'Varela round';
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */